node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Build
dist/
build/

# Logs
logs/
*.log

# Uploads (se não quiser versionar)
uploads/

# Arquivos temporários
*.tmp
*.temp